<div class="ud-header">
    <h2 class="text-center">Grup Chat</h2>
</div>
<div class="ud-body">
    <div class="msg-box">
        <ul>
            <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">{{mObj.user}} :<br /><span class="msg-italic-style">{{mObj.message}}</span></li>
        </ul>
    </div>
    <div class="ud-flex-row">
        <input type="text" placeholder="Mesajınızı yazınız" class="msg-input" [(ngModel)]="msgDto.message" />
        <button class="send-btn" (click)="send()"><i class="fa fa-paper-plane"></i></button>
    </div>
    <input type="text" placeholder="Kullanıcı Adınız" class="name-box" [(ngModel)]="msgDto.user" />
    <!-- <input type="text" placeholder="Group Adı" class="name-box" [(ngModel)]="msgDto.groupName" /> -->
</div>